html, body {
    background-color: black;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: hidden;
    margin: 0;
    color: white;
    height: 100vh;
}

dialog {
    z-index: 1000;
    position: absolute;
    color: white;
    background-color: black;
    padding: 40px;
}

dialog::backdrop {
    background-color: black;
}

h1 {
    margin-top: 0;
    display: inline-block;
}

h2 {
    margin-top: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section {
    max-width: 500px;
    padding: 40px;
    border: 3px solid white;
}

nav {
    margin-top: 40px;
}

code {
    background-color: transparent;
    padding: 3px;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}

input {
    padding: 0;
}

label {
    margin-right: 5px;
}
.setting-group {
    display: flex;
}

.game-btn {
    max-width: 250px;
    height: 0;
    padding-bottom: 100%;
    position: relative;
}

.game-btn:focus .game-dot {
    display: inline-block;
}

.game-instructions, .select-instructions {
    margin-right: 15px;
}

.game-dot {
    height: 25px;
    width: 25px;
    background-color: black;
    display: none;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

#game-container {
    color: white;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

#settings-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ib-title {
    display: inline-block;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 12px;
}

.color {
    width: 100%;
    height: 250px;
    border: 0;
}

.btn-group {
    padding-left: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;
    justify-content: start;
    align-content: start;
    flex-wrap: wrap;
}

.start-container {
    position: relative;
    color: white;
}

button, a  {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    transition: background-color 1s ease-in;
    background: rgba( 0, 0, 0, 0 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display: inline-block;
}

button:hover, a:hover {
    cursor: pointer;
}

input:focus, input:focus-visible,
a:focus, a:focus-visible,
button:focus, button:focus-visible {
}


#red {
    background-color: red;
}

#yellow {
    background-color: yellow;
}

#green {
    background-color: green;
}

#blue {
    background-color: blue;
}