html, body {
    background-color: black;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    margin: auto;
    color: white;
    height: 100vh;
    padding: 0 20px;
    overflow: hidden;
}

main, body {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    min-width: 500px;
    width: 80vh;
    height: 100%;
}

button, a  {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    transition: background-color 1s ease-in;
    background-color: rgb(0 0 0);
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgb(255 255 255 / 18%);
    display: inline-block;
}

button:hover, a:hover {
    cursor: pointer;
}

dialog {
    z-index: 1000;
    position: absolute;
    color: white;
    background-color: black;
    padding: 40px;
}

dialog::backdrop {
    background-color: black;
}

h1 {
    margin-top: 0;
}

h2 {
    margin-top: 0;
    font-size: 20px;
}

@media (width <= 576px) {
    section: {
        max-width: auto;
    }
}

nav {
    margin-top: 40px;
}

code {
    background-color: transparent;
    padding: 3px;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}

input {
    padding: 0;
}

label {
    margin-right: 5px;
}

.settings-group {
    margin-bottom: 20px;
}

.game-btn {
    padding-bottom: 100%;
    position: relative;
    border-radius: 0;
    margin: 0;
    opacity: .5;
}

.color-active {
    opacity: 1;
}

.game-instructions, .select-instructions {
    margin-right: 15px;
}

.game-dot {
    height: 25px;
    width: 25px;
    background-color: black;
    display: none;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

.game-btn:focus .game-dot {
    display: inline-block;
}

.ib-title {
    display: inline-block;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 12px;
}

.btn-group {
    padding-left: 0;
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    gap: 10px;
    justify-content: start;
    align-content: start;
}

#red {
    background-color: red;
    border-top-left-radius: 50%;
}

#yellow {
    background-color: yellow;
    border-bottom-right-radius: 50%;
}

#green {
    background-color: green;
    border-bottom-left-radius: 50%;
}

#blue {
    background-color: blue;
    border-top-right-radius: 50%;
}

#game-container {
    color: white;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

#settings-container,
#start-container {
    padding: 40px;
    color: white;
    position: relative;
    border: 3px solid white;
}