html,
body {
  background-color: black;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  margin: auto;
  color: white;
  height: 100vh;
  padding: 0 20px;
  overflow: hidden;
}

main,
body {
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  max-width: 500px;
}

main {
  height: 100%;
}

button:not(.game-btn, .tab-link),
a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  transition: background-color 1s ease-in;
  background-color: rgb(0 0 0);
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgb(255 255 255 / 18%);
  display: inline-block;
}

button:hover,
a:hover {
  cursor: pointer;
}

dialog {
  z-index: 1000;
  position: absolute;
  color: white;
  background-color: black;
  padding: 40px;
}

dialog::backdrop {
  background-color: black;
}

h1,
h2,
h3 {
  margin-top: 0;
}

h2 {
  font-size: 20px;
}

@media (width <= 576px) {
  section: {
    max-width: auto;
  }
}

nav {
  margin-top: 40px;
}

code {
  background-color: transparent;
  padding: 3px;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
}

input {
  padding: 0;
}

label {
  margin-right: 5px;
}

#red {
  background-color: red;
  border-top-left-radius: 50%;
}

#yellow {
  background-color: yellow;
  border-bottom-right-radius: 50%;
}

#green {
  background-color: green;
  border-bottom-left-radius: 50%;
}

#blue {
  background-color: blue;
  border-top-right-radius: 50%;
}

#game-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

#start-container,
#legend-container,
#about-container,
#settings-container {
  padding: 40px;
  color: white;
  border: 3px solid white;
}

#legend,
#score {
  display: inline-block;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 12px;
}

.btn-group {
  padding-left: 0;
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  gap: 10px;
  justify-content: start;
  align-content: start;
}

.game-btn {
  padding-bottom: 100%;
  margin: 0;
  border: 0;
  opacity: 0.5;
}

.game-btn:focus {
  outline: 0;
  border: 0;
  opacity: 1;
}

.game-btn-active {
  opacity: 1;
}

.settings-group {
  margin-bottom: 20px;
}

.game-instructions,
.select-instructions {
  margin-right: 15px;
}

.sr-only {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.signature {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 20px;
  display: inline-block;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 12px;
}

.tabpanel-hidden {
  display: none;
}

.tabs {
  display: flex;
  flex-flow: column-reverse;
}

[role="tablist"] {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

[role="tab"] {
  background-color: transparent;
  color: white;
  padding: 5px 10px;
  border: 0;
  text-align: left;
}

[role="tabpanel"] {
  color: white;
  overflow: auto;
  height: 250px;
  margin-bottom: 20px;
}

button[role="tab"].tab-active,
button[role="tab"]:focus {
  color: white;
  border-bottom: 2px solid white;
}
